.content-wrapper {
    padding: 2%;
    width: 86%;
    left: 2%;
    position: relative;
}

.left {
    width: 40%;
    float: left;
    padding-right: 12px;
}

img { width: 100%;}

.title { 
        width: 100%;
        text-align: center;
        margin-bottom: -1px;
        margin-top: 9px;
}

.right {
    font-size: 12px;
}

.button-wrapper {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font: var(--menu-blue);
    font-weight: 600;
}

.button-wrapper>.button {
    width: 40%;
    display: inline-block;
    margin: -2% 2% 1% 2%;
    outline: 1px solid white;
    outline-color: var(--menu-blue);
    padding: 3% 2% 3% 2%;
    margin-top: -1%;
    transition: background-color .4s linear, color .4s linear;
}

.deets {
    background-color: var(--menu-blue);
    color: black;
    text-decoration: underline;
}

.legend-row {
    width: 98%;
    padding: 1%;
    height: 32px;
}
.legend-text {
    font-size: 12px;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
.legend-color {
    width: 18%;
    height: 100%;
    display:inline-block;
    outline: .1px solid white;
    outline-color: var(--menu-blue);
}