<div class="content-wrapper" *ngIf="layerSet === true">
  <div class="button-wrapper">
      <div class="button deets" (click)="handleClick(true)" #detailsButton>Details</div>
      <div class="button" (click)="handleClick(false)" #legendButton>Legend</div>
  </div>
  <p class="title">{{layer.displayName}}</p>
  <span *ngIf="showDetails === true">
  <div class="left">
    <img src={{layer.secondScreenImagePath}}>
  </div>
  <div class="right">
    <p>{{layer.secondScreenText}}</p>
  </div>
  </span>
  <span *ngIf="showDetails === false">
      <p>Legend Goes Here</p>
  </span>
</div>
