<div class="content-wrapper" *ngIf="layerSet === true">
  <div class="button-wrapper">
    <div class="button deets" (click)="handleClick(true)" #legendButton>Legend</div>
    <div class="button" (click)="handleClick(false)" #detailsButton>Details</div>
  </div>
  <p class="title">{{layer.displayName}}</p>
  <span *ngIf="showLegend === true">
    <div class="legend-row" *ngFor="let row of layer.legend">
      <span class="legend-color" [style.background]="row.color"></span>
      <p class="legend-text">{{row.text}}</p>
    </div>
  </span>
  <span *ngIf="showLegend === false">
    <div class="left">
      <img src={{layer.secondScreenImagePath}}>
    </div>
    <div class="right">
      <p>{{layer.secondScreenText}}</p>
    </div>
  </span>
</div>
