<mat-drawer-container>

  <mat-drawer mode="side" opened>

    <app-bouncing-title [title]="title" [freq]="titleFreq"></app-bouncing-title>

    <mat-list role="list" *ngIf="windowSet">

      <mat-list-item *ngFor="let navbutton of navButtons" >
        <button mat-flat-button color="primary" (click)="navigateTo(navbutton)">{{ navbutton.name}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-flat-button color="warn" (click)="close()">CLOSE</button>
      </mat-list-item>

    </mat-list>

  </mat-drawer>

  <mat-drawer-content>

    <h1 class="routeTitle">{{ routeTitle }}</h1>

    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>
