.container {
  width: 100%;
  position: relative;
  text-align: center;
}

.start-text {
  font-size: 30px;
  width: 60%;
  left: 20%;
  position: relative;
  top: 10%;
}
.spinning-button {
  margin-top: 6%;
  position: relative;
  left: 38%;
}
