<h1>Island Selection</h1>


<div class="grid-container">

  <div class="grid-item"></div>

  <div class="grid-item" (click)="startPlan(0)">
    <img src="assets/islandOutlines/oahu.png" alt="" height="100%">
  </div>

  <div class="grid-item" (click)="startPlan(1)">
    <img src="assets/islandOutlines/maui.png" alt="" height="100%">
  </div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>
  

  <div class="grid-item" (click)="startPlan(2)">
    <img src="assets/islandOutlines/bigisland.png" alt="" height="100%">
  </div>

  <div class="grid-item"></div>



</div>
