<h1>Island Selection</h1>


<div class="grid-container">

  <div class="grid-item"></div>

  <div class="grid-item" (click)="startPlan()">
    <img src="assets/islandOutlines/oahu.png" alt="" height="100%">
  </div>

  <div class="grid-item">
    <img src="assets/islandOutlines/maui.png" alt="" height="100%">
  </div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>

  <div class="grid-item">
    <img src="assets/islandOutlines/molokai.png" alt="" height="60%">
  </div>

  <div class="grid-item">
    <img src="assets/islandOutlines/bigisland.png" alt="" height="100%">
  </div>

  <div class="grid-item"></div>



</div>
