<iframe class="large-video"  src="https://www.youtube.com/embed/PNp5NFhCMS0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="thumbnail-wrapper">
    <div class="thumbnail">
        <iframe  src="https://www.youtube.com/embed/1FXb3VpXMts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="thumbnail">
        <iframe  src="https://www.youtube.com/embed/1FXb3VpXMts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="thumbnail">
        <iframe  src="https://www.youtube.com/embed/1FXb3VpXMts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="thumbnail">
        <iframe  src="https://www.youtube.com/embed/1FXb3VpXMts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>