.map-container {
    position: absolute;
    left: 9%;
    top: 1%;
}

.chart { 
    position: absolute;
}

.year-data {
    position: absolute;
    color: white;
}

.heco-logo, .lava-logo {
    position: absolute;
}