<app-map-element class="map-container" cdkDrag #map>
</app-map-element>
<app-line-chart class="line-chart chart" cdkDrag #lineChart>
</app-line-chart>
<app-pie-chart class="pie-chart chart" cdkDrag #pieChart>
</app-pie-chart>
<app-year-data-display class="year-data" cdkDrag yearData></app-year-data-display>
<img src="../../../../../assets/images/lava-logo-curves-01.webp" class="lava-logo" #lavaLogo ckdDrag>
<img src="../../../../../assets/images/heco-logo.png" class="heco-logo" #hecoLogo ckdDrag>