img {
  width: 96%;
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
  z-index: 1;
}

p {
  position: absolute;
  top: 90%;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.progress-bar {
  left: -10%;
  top: -22%;
  position: absolute;
}
