:host {
  width: 92%;
  height: 92%;
  background-color: black;
  outline: 1px solid white;
  outline-color: var(--menu-blue);
  z-index: 1000000;
  color: var(--main-text-color);
  position: absolute;
  left: 4%;
  top: 4%;
  text-align: center;
}

.mover {
  background-color: black;
}

.map-mover {
  height: 200px;
  width: 200px;
  border: 1px solid green;
  border-color: var(--menu-blue);
  position: absolute;
  left: 20vw;
}

.chart-mover {
  height: 200px;
  width: 200px;
  border: 1px solid yellow;
  border-color: var(--menu-blue);
  position: absolute;
}

.chart-mover>img {
  width: 50%;
  margin: 4% 25% 4% 25%;
}

.button-wrapper {
  position: absolute;
  top: 90%;
  left: 2%;
  width: 40%;
  text-align: center;
}

.button {
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 2%;
  margin: 0 3% 0 3%;
  border: 1px solid purple;
  cursor: pointer;
  background-color: black;
}

.options {
  width: 80%;
  margin-left: -92%;
  font-size: 14px;
  text-align: center;
  padding: 4% 2% 4% 2%;
  position: absolute;
  top: 40%;
  background-color: black;
}

.pie>p {
  margin-top: 41px;
}

.settings-expansion-wrapper {
  height: 100%;
  width: 400px;
  position: absolute;
  left: 100%;
  border: 1px solid white;
  border-color: var(--menu-blue);
  top: -1px;
  background-color: black;
  display: none;
}

.lava-logo-mover {
  height: 200px;
  width: 200px;
  border: 1px solid green;
  border-color: var(--menu-blue);
  position: absolute;
  left: 30vw;
}

.heco-logo-mover {
  height: 200px;
  width: 200px;
  border: 1px solid green;
  border-color: var(--menu-blue);
  position: absolute;
  left: 40vw;
}

.displaying-data-mover {
  height: 200px;
  width: 200px;
  border: 1px solid green;
  border-color: var(--menu-blue);
  position: absolute;
  left: 50vw;
}

.heco-logo-mover>img {
  width: 94%;
  margin: 2%;
}

.lava-logo-mover>img {
  width: 94%;
  margin: 2%;
}

.map-mover>img {
  width: 50%;
  margin: 4% 25% 4% 25%;
}

.displaying-data-mover>img {
  width: 50%;
  margin: 4% 25% 4% 25%;
}

.instructions {
  width: 80%;
  height: 80%;
  outline: 2px solid white;
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 100000001;
  background-color: black;
  text-align: center;
  display: none;
}

.instructions>.images {
  width: 100%;
  height: 34%;
  padding: 0;
  margin-bottom: 4%;
}
.instructions>.images>img {
  height: 100%;
  margin: 10px;
  display: inline-block;
}

.show-hide {
  margin-top: 10px;
}

.finish {
  z-index: 100000000;
}
