:host {
    width: 92%;
    height: 92%;
    background-color: black;
    outline: 1px solid white;
    z-index: 1000000;
    color: white;
    position: absolute;
    left: 4%;
    top: 4%;
}

.map-mover {
    height: 200px;
    width: 200px;
    outline: 1px solid green;
    position: absolute;
    left: 20vw;
}

.chart-mover {
    height: 200px;
    width: 200px;
    outline: 1px solid yellow;
    position: absolute;
}

.button-wrapper {
    position: absolute;
    top: 90%;
    left: 2%;
    width: 40%;
    text-align: center;
}

.button {
    position: relative;
    display: inline-block;
    width: 30%;
    padding: 2%;
    margin: 0 3% 0 3%;
    border: 1px solid purple;
}