.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* The Loading Image */
.loading-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  text-align: center;
  background-color: black;
  display: none;
}

app-spinning-button {
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: 38vw;
  top: calc(50% - 12vw);
}

/* Styles for the UI section Titles */
.section-title {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;
  display:inline-block;
}

.title-wrapper {
  width: 100%;
  text-align: center;
}

app-border-line {
  position: relative;
}

app-pie-chart {
  position: relative;
}

/* Left Container contains the charts */
.left-container {
  width: 26%;
  position: absolute;
  height: 100%;
  text-align: center;
}

.left-container>div {
  width: 100%;
  text-align: center;
}

.pie {
  /* padding-left: 12%;
  padding-top: 8%; */
  position: absolute;
}

.pie-title {
  top: -0.5vw;
  left: -4.5vw;
  position: relative;
}

.pie-3d {
  position: relative;
  top: 40px;
}

.line {
  /* margin-left: -9%;
  margin-top: -15%; */
  position: absolute;
}

.line-title {
  position: relative;
  top: 7vw;
  left: 1vw;
}

.gauge {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 8px;
}

/* The Center Container contains the mini map and the year controls */
.center-container {
  width: 50%;
  position: absolute;
  left: 25%;
  height: 100%;
}

/* First row in the center contianer */
.center-container>.top {
  width: 100%;
  height: 50%;
  position: relative;
  padding-top: 5%;
  text-align: center;
}

.center-container>.top>.left-column {
  width: 15%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 6%;
  padding-top: 0;
  margin-top: 1%;
}

.island-selection-buttons {
  position: relative;
  top: -44px;
}

.center-container>.top>.right-column {
  width: 20%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 62%;
  padding-top: 0;
  margin-top: -3%;
}


.map-container {
  width: 60%;
  padding-top: 5%;
  position: relative;
  display: inline-block;
  left: -18%;
}


/* Second row in the center container */
.center-container>.middle {
  width: 100%;
  height: 40%;
  position: relative;
}

.center-container>.middle>.left {
  width: 25%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.center-container>.middle>.left>.title-wrapper {
  left: 11%;
  top: 33%;
  position: relative;
}

.scenario-menu {
  position: absolute;
  left: 9%;
}

.center-container>.middle>.middle {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 4%;
}

.center-container>.middle>.right {
  width: 25%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}


/* Positions the year graphic component */
.year-container {
  width: 60%;
  padding-top: 60%;
  position: relative;
  top: 20%;
  left: 0;
  height: 100%;
}

/* Bottom row in the center container */
.center-container>.bottom {
  width: 100%;
  height: 15%;
  position: relative;
}

/* Positions the Slide Bar */
.slider-container {
  position: absolute;
  width: 100%;
}

/* Third and right most column */
.right-container {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 70%;
  padding: 2%;
}

.right-container>.top {
  width: 100%;
  height: 60%;
  position: relative;
}

.right-container>.bottom {
  width: 100%;
  height: 40%;
  position: relative;
}



/* Positions the container holding the layer buttons. */
.layer-button-container {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.buttons-container {
  margin-top: -17%;
  padding-bottom: 27%;
  width: 100%;
}

/* Wrapper forces the boxes to maintain a 1 to 1 aspect ratio */
.layer-button-wrapper {
  position: relative;
  width: 20%;
  padding-top: 20%;
  height: 0;
  margin: 0px 5% 12% 5%;
  display: inline-block;
}

/* Layer buttons are max of 3 per row and overflows are hidden */
.layer-button-container>.buttons-container>.layer-button-wrapper>.layer-button {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* The button that loads the settings menu */
.settings-button {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 93vh;
  left: 1vw;
  z-index: 100;
}

.settings-button>img {
  width: 100%;
  height: 100%;
}


/* Tool Tip Placement */
.tooltip {
  width: 25px;
    height: 25px;
    position: relative;
    z-index: 100000;
    display: inline-block;
    top: 5px;
    padding-right: 5px;
}

/* .center-container>.top>.tooltip {
  left: 42%;
  top: 9.5%;
}

.line>.tooltip {
  left: -3%;
  top: 24%;
}

.pie>.tooltip {
  left: 10%;
  top: 21%;
}

.right-container>.top>.tooltip {
  left: 32%;
}

.middle>.left>.tooltip {
  left: 11%;
  top: 24%;
}

.middle>.middle>.tooltip {
  left: 42%;
  top: 35%;
}

.middle>.right>.tooltip {
  left: 89%;
  top: 47.8%;
}

.right>.top>.tooltip {
  left: -1%;
  top: 1%;
} */

.tooltip-container {
  position: absolute;
  z-index: 99999;
  width: 250px;
  background-color: black;
  outline: 2px solid white;
  outline-color: var(--main-text-color);
}

.black-bar {
  position: absolute;
  z-index: -1;
  background-color: black;
  width: 30%;
  height: 5%;
  top: 42%;
}

.slide-out {
  position: absolute;
  height: 100%;
  z-index: 999999;
  left: -400px;
  top: 0px;
}