<!-- This is the main component for the touch UI interface. -->

<!-- Loading Image -->
<div class="loading-screen" #loadingScreen>
  <app-spinning-button text="Loading Data" color="#00d2ff"></app-spinning-button>
</div>

<img src="assets/images/BackGround.png" class="background-image">
<!-- This section contains the charts-->
<div class="left-container">
  <div class="chart pie" #pieChartDiv>
    <div class="title-wrapper pie-title">
      <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Generation Chart')">
      <div class="section-title map-title">Generation</div>
    </div>
    <app-pie-chart ></app-pie-chart>
  </div>
  <div class="chart line" #lineChartDiv>
    <div class="title-wrapper line-title">
      <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Capacity Chart')">
      <div class="section-title map-title">Capacity</div>
    </div>
    <app-line-chart></app-line-chart>
  </div>
</div>

<!-- Center column.  Largest column, contains mini map and the year controls -->
<div class="center-container">
  <div class="top">
    <div class="title-wrapper">
      <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Mini Map')">
      <div class="section-title map-title">{{sectionTitles.map}}</div>
    </div>

    <div class="left-column">
      <app-island-selection-buttons class="island-selection-buttons"></app-island-selection-buttons>
    </div>
    <div class="right-column">
      <app-bar></app-bar>
    </div>
    <app-map-element class="map-container" cdkDrag #map>
    </app-map-element>
    
  </div>
  <div class="middle">
    <div class="left">
      <div class="title-wrapper">
        <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Scenario Selector')">
        <div class="section-title">{{sectionTitles.scenario}}</div>
      </div>
      <app-scrolling-menu class="scenario-menu" type="scenario" largeFontSize="14px"></app-scrolling-menu>
    </div>
    <div class="middle">
      <!-- Graphic that shows the year -->
      <app-year class="year-container" #year></app-year>
    </div>
    <div class="right">
      <app-scrolling-menu type="year" largeFontSize="24px"></app-scrolling-menu>
    </div>
  </div>
</div>
<!-- right column has two rows. -->
<div class="right-container">
  <div class="top">
    <!-- Layer Buttons for turning on and off the layers. -->
    <div class="layer-button-container" #layerButtonContainer>
      <div class="title-wrapper">
        <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Layer Toggles')">
        <div class="section-title">{{sectionTitles.layer}}</div>
      </div>
      <!-- Wrapper forces the buttons to be 1 to 1 ratio -->
      <div class="buttons-container">
        <div class="layer-button-wrapper" *ngFor="let layer of layers">
          <app-layer-button class="layer-button" layerName={{layer.layer.name}} layerDisplayName={{layer.layer.displayName}}
            layerIcon={{layer.layer.iconPath}} color={{layer.layer.legendColor}}></app-layer-button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <app-layer-info class="layer-info"></app-layer-info>
  </div>
</div>
<app-settings-modal [style.display]="this.showSettingsModal ? 'block' : 'none'"></app-settings-modal>
<div class="tooltip-container" [style.display]="this.tooltip.displaying ? 'block' : 'none'" #ttip>
  <app-tooltip></app-tooltip>
</div>
<div class='black-bar'></div>
<app-settings-slide-out class="slide-out" #slideMenu></app-settings-slide-out>