.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Styles for the UI section Titles */
.section-title {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

app-border-line {
  position: relative;
}

/* Left Container contains the charts */
.left-container {
  width: 20%;
  position: absolute;
  height: 100%;
  padding: 2%;
  text-align: center;
}

.left-container>div {
  height: 43%;
  width: 100%;
  position: relative;
  text-align: center;
}

.pie {
  padding-left: 8%;
  padding-top: 8%;
}

.line {
  margin-left: -12%;
  margin-top: -7%;
}

/* The Center Container contains the mini map and the year controls */
.center-container {
  width: 50%;
  position: absolute;
  left: 25%;
  height: 100%;
}

/* First row in the center contianer */
.center-container>.top {
  width: 100%;
  height: 50%;
  position: relative;
  padding-top: 5%;
  text-align: center;
}


.map-container {
  width: 100%;
  padding-top: 5%;
  position: relative;
}
app-leaflet-map {
  width: 80%;
  height: 80%;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(11%, 13%);
  border-radius: 1rem;
  border: solid gray 6px;

}

/* Second row in the center container */
.center-container>.middle {
  width: 100%;
  height: 40%;
  position: relative;
}

.center-container>.middle>.left {
  width: 25%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.center-container>.middle>.left>h3 {
  left: 14%;
  top: 20%;
  position: absolute;
  z-index: 9999;
}

.scenario-menu {
  position: absolute;
  left: 10%;
}

.center-container>.middle>.middle {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 4%;
}

.center-container>.middle>.right {
  width: 25%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}


/* Positions the year graphic component */
.year-container {
  width: 60%;
  padding-top: 60%;
  position: relative;
  top: 20%;
  left: 0;
  height: 100%;
}

/* Bottom row in the center container */
.center-container>.bottom {
  width: 100%;
  height: 15%;
  position: relative;
}

/* Positions the Slide Bar */
.slider-container {
  position: absolute;
  width: 100%;
}

/* Third and right most column */
.right-container {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 75%;
  padding: 2%;
}

.right-container>.top {
  width: 100%;
  height: 60%;
  position: relative;
}

.right-container>.bottom {
  width: 100%;
  height: 40%;
  position: relative;
}



/* Positions the container holding the layer buttons. */
.layer-button-container {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.buttons-container {
  margin-top: -20%;
  padding-bottom: 27%;
  width: 100%;
}

/* Wrapper forces the boxes to maintain a 1 to 1 aspect ratio */
.layer-button-wrapper {
  position: relative;
  width: 25%;
  padding-top: 25%;
  height: 0;
  margin: 0 3% 25% 3%;
  display: inline-block;

}

/* Layer buttons are max of 3 per row and overflows are hidden */
.layer-button-container>.buttons-container>.layer-button-wrapper>.layer-button {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* The button that loads the settings menu */
.settings-button {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 93vh;
  left: 1vw;
  z-index: 100;
}

.settings-button>img {
  width: 100%;
  height: 100%;
}


/* Tool Tip Placement */
.tooltip {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 100000;
}

.center-container>.top>.tooltip {
  left: 7%;
  top: 8%;
}

.line>.tooltip {
  left: 11%;
  top: -4%;
}

.pie>.tooltip {
  left: -1%;
  top: 1%;
}

.right-container>.top>.tooltip {
  left: 15%;
}

.middle>.left>.tooltip {
  left: 10%;
  top: 25%;
}

.middle>.middle>.tooltip {
  left: 42%;
  top: 38%;
}

.middle>.right>.tooltip {
  left: 92%;
  top: 47%;
}

.right>.top>.tooltip {
  left: -1%;
  top: 1%;
}

.tooltip-container {
  position: absolute;
  z-index: 99999;
  width: 250px;
  background-color: black;
  outline: 2px solid white;
  outline-color: var(--main-text-color);
}
