<!-- This is the main component for the touch UI interface. -->
<img src="assets/images/BackGround.png" class="background-image">
<!-- This section contains the charts-->
<div class="left-container">
  <div class="chart pie">
    <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Generation Chart')">
    <app-pie-chart></app-pie-chart>

    <!-- <app-progress-ring></app-progress-ring> -->
  </div>
  <div class="chart line">
    <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Capacity Chart')">
    <app-line-chart></app-line-chart>
  </div>
</div>

<!-- Center column.  Largest column, contains mini map and the year controls -->
<div class="center-container">
  <div class="top">
    <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Mini Map')">
    <div class="section-title">{{sectionTitles.map}}</div>
    <div class='map-container'>
      <app-leaflet-map [center]="center" [zoom]="zoom" [layers]="layers"></app-leaflet-map>
    </div>


  </div>
  <div class="middle">
    <div class="left">
      <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Scenario Selector')">
      <h3>{{sectionTitles.scenario}}</h3>
      <app-scrolling-menu class="scenario-menu" type="scenario" largeFontSize="14px"></app-scrolling-menu>
    </div>
    <div class="middle">
      <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Renewable Energy Console')">
      <!-- Graphic that shows the year -->
      <app-year class="year-container" #year></app-year>
    </div>
    <div class="right">
      <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Year Selector')">
      <app-scrolling-menu type="year" largeFontSize="24px"></app-scrolling-menu>
    </div>
  </div>
</div>
<!-- right column has two rows. -->
<div class="right-container">
  <div class="top">
    <img src="{{tooltip.path}}" class="tooltip" (click)="handleTooltipClick($event, 'Layer Toggles')">
    <!-- Layer Buttons for turning on and off the layers. -->
    <div class="layer-button-container" #layerButtonContainer>
      <div class="section-title">{{sectionTitles.layer}}</div>
      <!-- Wrapper forces the buttons to be 1 to 1 ratio -->
      <div class="buttons-container">
        <div class="layer-button-wrapper" *ngFor="let layer of layers">
          <app-layer-button class="layer-button" layerName={{layer.layer.name}}
            layerDisplayName={{layer.layer.displayName}} layerIcon={{layer.layer.iconPath}}
            color={{layer.layer.legendColor}}></app-layer-button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <app-layer-info class="layer-info"></app-layer-info>
  </div>
</div>
<div class="settings-button" (click)="handleSettingsButtonClick()">
  <img src="{{settingsIconPath}}" #settingsButton>
</div>
<app-settings-modal [style.display]="this.showSettingsModal ? 'block' : 'none'"></app-settings-modal>
<div class="tooltip-container" [style.display]="this.tooltip.displaying ? 'block' : 'none'" #ttip>
  <app-tooltip></app-tooltip>
</div>
