.wrapper {
    width: 100%;
    height: 30px;
    position: relative;
}

.background-bar {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: var(--main-text-color);
    top: 10px;
}

.slidable-element {
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: var(--menu-blue);
    border-radius: 25%;
    z-index: 1;
    top: 0;
    left: 44%;
}