:host {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.options-container {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.options-touch-overlay {
    height: 100%;
    width: 20%;
    z-index: 100;
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}

.menu-option {
    position: absolute;
    left: 32px;
}

.center-box {
    position: absolute;
    border: 1px solid white;
    height: 30px;
    width: 120px;
    top: calc(50% - 18px);
    z-index: 50;
    background-color: black;
    font-size: 24px;
    padding-top: 6px;
    color: white;
    opacity: 1;
    font-weight: bolder;
}