.gauge {
    margin: 2px;
    border: 1px solid black;
    border-color: var(--menu-blue);
    border-radius: 50%;
    transition: background-image 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

.text {
    font-size: 10px;
    color: var(--main-text-color);
    width: 60px;
    position: relative;
    text-align: center;
    left: -5px;
    letter-spacing: 1.3px;
}

.percentage {
    font-size: 9px;
    color: var(--main-text-color);
    width: 40px;
    text-align: center;
    position: relative;
    top: 6px;
    font-weight: bold;
}