
.content-wrapper {
    width: 60%;
    height: 60%;
    position: relative;
    border: 1px solid transparent;
    border-radius: 50%;
    left: 5vw;
    top: -7.5vw;
    text-align: center;
    font-size: 15px;
}

.year {
    font-size: 20px;
}
.content-wrapper > div {
    margin-top: 8px;
}
.border-line {
    width: 80%;
    left: 10%;
    position: relative;
    height: 1px;
    background-color: transparent;
}

.border-line:first-child {
    margin-top: calc(5vw - 25px);
}

p {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 5px 0 5px 0;
}

.year-bar-wrapper {
    width: 60%;
    height: 60%;
    position: relative;
    z-index: 10000;
    left: 11.5vw;
    top: 8.5vw;
}

.year-bar {
    width: 2px;
    height: 10px;
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    transition: opacity 0.3s linear;
}