/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Dalton Maag - Elevon OneG';
  src: url('assets/fonts/Dalton Maag - Elevon OneG.ttf')  format('truetype');
}

:root {
  --main-text-color: rgb(209, 235, 236);
  --menu-blue: rgb(156, 210, 207);
}

body {
  font-family: 'Dalton Maag - Elevon OneG', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: var(--main-text-color);
}

.hidden {
  display: none;
}

